<span class="col-12 header-container">
    <div class="col-1">
        <frosty-image altText="Logo here" height="50px" source="" width="50px"></frosty-image>
    </div>
    <div class="col-1">
        <frosty-button buttonText="Home" redirectTarget="home"></frosty-button>
    </div>
    <div class="col-8"></div>
    <div class="col-1">
        <frosty-button buttonText="Login" redirectTarget="login"></frosty-button>
    </div>
    <div class="col-1">
        <frosty-button buttonText="Register" redirectTarget="registration"></frosty-button>
    </div>
</span>